<% if @song.errors.any? %>
<ul>
    <% @song.errors.full_messages.each do |e| %>
        <li class="error_message"><%= e %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @song do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
     <%= f.label :artist_name %>
    <%= f.text_field :artist_name %>
    <%= f.label :released %>
    <%= f.check_box :released %>
    <%= f.label :release_year %>
    <%= f.text_area :release_year %>
    <%= f.label :genre %>
    <%= f.text_area :genre %>
    <%= f.submit %>
<% end %>